.text-size{
   font-size: 20px;
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}





.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

.dc-chart .pie-slice {
    fill: black;
}

#total-projects {
   background: rgb(0, 153, 204);
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: #080808;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: rgb(0, 153, 204);
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: rgb(0, 153, 204);
   width: 100%;
   border: none;
   position: relative;
   height: 28px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

.button-center{
position: absolute;
left: 300px;
top: 13px;
}
.intro_button {
  border-color: rgb(0, 0, 0);
  border-radius: 3px;
  font-family: sans-serif;
  color: white;
  background: rgb(0, 0, 0);
}
