
.dc-chart {
   font-family: Roboto;
   font-weight: normal;
   font-size: 11px;
   padding-bottom: 12px;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
   color: #1a1a1a;
}

.dc-select-menu {
   background-color: rgba(48,59,69, 0.95);
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
}

.dc-chart .pie-slice {
    fill: #fff;
    font-size: 12px;
    cursor: pointer;
}

.dc-legend {
    font-size: 10px;
}

body.application,
.keen-dashboard {
  background: #fff;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 60px 20px 0;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  margin-bottom: 12px;
}

.chart-wrapper .chart-title {
  border-bottom: 1px  #aaa;
  background-color: #f7f7f7;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 7px 10px 4px;
  font-family: sans-serif;
}

.big-numbers {
    position: relative;
    font-size: 36px;
    letter-spacing: -1px;
    color: #1a1a1a;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dc-chart .node {
    font-size: 1em;
    cursor: pointer;
}

#row-selection {
   font-family: Roboto;
   font-weight: 300;
   font-size: 14px;
   color: #fff;
}

body.application .navbar-inverse .navbar-nav > li > a,
body.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: -0.2px;
}

body.application .navbar-inverse, .keen-dashboard .navbar-inverse {
    background-color: rgba(48,59,69, 0.95);
}

/* Intro.js custom rules */
div.introjs-tooltiptext {
    font-family: Roboto;
   font-weight: normal;
   font-size: 12px;
   padding-bottom: 12px;
}

.introjs-bullets ul li a {
    margin-bottom: 8px;
}

#outer {
    padding: 1.5%;
}

#intro-start {
  color: lightblue
}
