<!DOCTYPE html>
<html>
<head>
  <title>Funding Status Dashboard</title>

  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Oswald|Roboto|Slabo+27px" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body class="application">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <button class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class ="nav navbar-nav">
          <li class ="navbar-brand"><a class="nav-link" href="./"><strong>Dashboard</strong></a></li>
          <li class="nav-item"><a class="nav-link" href="#" onclick="reset_all()"><strong>Reset</strong></a></li>
          <li class="nav-item"><a class="nav-link" href="#" onclick="javascript:introJs().start();"><strong>Start Tour!</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div  id="outer" class="container-fluid">
      <div class="row justify-content-end">
        <!-- Metric 1 -->
        <div class="col-sm-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              Number of donations
            </div>
            <div class="chart-stage" style="background: rgb(0, 153, 204);
              position: relative;
              font-size: 29px;
              color: white;
              vertical-align: middle;
              text-align: center;
              padding-top: 12px;
              padding-bottom: 0px;">
              <div id="number-projects-nd" class="text-size"></div>
            </div>
          </div>
        </div>
        <!-- Metric 1 -->
        <!-- Metric 2 -->
        <div class="col-sm-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              Total number of donors
            </div>
            <div class="chart-stage">
              <div id="num-donors-nd" class="text-size"></div>
            </div>
          </div>
        </div>
        <!-- Metric 2 -->
        <!-- Metric 3 -->
        <div class="col-sm-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              Total donations in USD
            </div>
            <div class="chart-stage">
              <div id="total-donations-nd" class="text-size"></div>
            </div>
          </div>
        </div>
        <!-- Metric 3 -->

      <div class="row justify-content-end">
        <!-- Metric 4 -->
        <div class="col-sm-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              Number of students Reached
            </div>
            <div class="chart-stage">
              <div id="total-students-reached-nd" class="text-size"></div>
            </div>
          </div>
        </div>
        <!-- Metric 4 -->
        <!-- menu select -->
        <div class="col-sm-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              Selection of Donation State
            </div>
            <div class="chart-stage">
              <div id="menu-select"></div>
            </div>
          </div>
        </div>

    </div>
        <!-- menu select -->

      </div>

      <div class="row justify-content-end">
        <!-- Metric 4 -->
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Prices excluding optional support
            </div>
            <div class="chart-stage">
              <div id="prices-excluding-optional-support-nd" data-step="1" data-intro="Prices excluding optional support" style="font-weight: normal" data-position="right"></div>
            </div>
          </div>
        </div>
      </div>

     <!-- <div class="row">
          <div class="col-sm-8">
            <div class="row">
               Time Chart
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Number of Donations
                  </div>
                  <div class="chart-stage">
                    <div id="time-chart"></div>
                  </div>
                </div>
              </div>-->
              <!-- Time Chart -->
   <div class="row justify-content-end">

           <!-- funding Pie -->
           <div class="col-sm-4">
             <div class="chart-wrapper">
               <div class="chart-title">
                 Funding Status
               </div>
               <div class="chart-stage">
                 <div id="funding-chart" data-step="2" data-intro="Funding Status" style="font-weight: normal" data-position="right"></div>
               </div>
             </div>
           </div>
           <!-- funding Pie -->

              <!-- Resources -->
              <div class="col-sm-4">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Resources Type
                  </div>
                  <div class="chart-stage">
                     <div id="resource-type-row-chart" data-step="3" data-intro="Resources Type" style="font-weight: normal" data-position="right"></div>
                  </div>
                </div>
              </div>
              <!-- Resources -->

              <!-- Poverty -->
              <div class="col-sm-4">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Poverty Level
                  </div>
                  <div class="chart-stage">
                    <div id="poverty-level-row-chart" data-step="4" data-intro="Poverty Level" style="font-weight: normal" data-position="right"></div>
                  </div>
                </div>
              </div>
              <!-- Poverty -->
    </div>



    <div class="row justify-content-end">
      <!-- Donations by month -->
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donations by month
          </div>
          <div class="chart-stage">
            <div id="donations-by-month-bar-chart" data-step="5" data-intro="Donations by month" style="font-weight: normal" data-position="right"></div>
          </div>
        </div>
      </div>
      <!-- Donations by month -->

      <!-- Primary focus area -->
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donations By Primary Focus Area
          </div>
          <div class="chart-stage">
            <div id="primary-focus-area-row-chart" data-step="6" data-intro="Donations By Primary Focus Area" style="font-weight: normal" data-position="right"></div>
          </div>
        </div>
      </div>
      <!-- Primary focus area -->

      <!-- Secondary focus area -->
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Secondary Focus Area
          </div>
          <div class="chart-stage">
            <div id="secondary-focus-area-chart" data-step="7" data-intro="Secondary Focus Area" style="font-weight: normal" data-position="right"></div>
          </div>
        </div>
      </div>
      <!-- Secondary focus area -->

</div>

    <div style='clear:both;'>
       <table class="table table-bordered table-hover table-condensed table-striped" id="dc-data-table">
            <thead>
                 <tr class="header success">
                      <th>Funding Status</th>
                      <th>School State</th>
                      <th>Resource Type</th>
                      <th>Poverty level</th>
                      <th>Total Price Excluding Optional Support</th>
                      <th>Num Donors</th>
                 </tr>
            </thead>
       </table>
    </div>
  </div>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/reset.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>
